<div class="container-fluid pb-4 mb-5 force-center">
    {{!-- Carousel --}}
    <div id="carouselExampleControls" class="carousel slide" data-interval="false" id="postsCarousel">
        <div class="carousel-inner">
            {{!-- Restaurant --}}
            <h1 class="display-4 strong m-3 text-center">
                <strong>{{restaurant_name}}</strong>
            </h1>
            {{#each item_list}}
            {{!-- Item One --}}
            <div class="carousel-item">
                <div class="col-12 d-block w-100" style="padding-left: 20vw; padding-right: 20vw">
                    {{!-- Title --}}
                    <div class="row justify-content-center mt-0 text-center">
                        <h1 class="display-4 strong">
                            <small class="text-muted">{{name}}</small>
                        </h1>
                    </div>

                    {{!-- Photo --}}
                    <div class="row justify-content-center mt-3">
                        <figure class="figure img-fluid">
                            <img src="/public/uploads/post_restaurant/{{image}}" class="figure-img img-fluid z-depth-1"
                                alt="..." style="width: 400px">
                        </figure>
                    </div>

                    {{!-- Details --}}
                    <div class="row p-2 d-flex mt-0 border border-dark light-green lighten-4"
                        style="margin-left: 10vw; margin-right: 10vw;">

                        {{!-- Profile Picture --}}
                        <div class="px-2">
                            <a class="nav-link p-0" href="#0">
                                <img src="/public/uploads/pfp/{{../pfp}}" class="rounded-circle z-depth-0"
                                    alt="avatar image" height="45">
                            </a>
                        </div>

                        {{!-- Post Author --}}
                        <div class="px-2 mr-auto text-truncate align-self-center"><strong>{{../author}}</strong></div>
                        {{!-- Views --}}
                        <div class="px-1 ml-auto align-self-center">
                            <figcaption class="figure-caption text-center">
                                {{../view_list.length}} views
                                <span class="fas fa-eye"></span>
                            </figcaption>
                        </div>

                        {{!-- Likes --}}
                        <div class="px-2 align-self-center">
                            <figcaption class="figure-caption text-center">
                                {{../like_list.length}} likes
                                <i class="fas fa-caret-up fa-lg"></i>
                            </figcaption>
                        </div>
                    </div>

                    {{!-- Description --}}
                    <div class="row justify-content-center mt-5">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active ml-auto mr-2 text-center" style="width: 10vw"
                                    id="pills-home-tab" data-toggle="pill" href="#pills-home1" role="tab"
                                    aria-controls="pills-home" aria-selected="true">Description</a>
                            </li>
                            {{!-- <li class="nav-item">
                                <a class="nav-link mr-auto ml-2 text-center" style="width: 10vw" id="pills-profile-tab"
                                    data-toggle="pill" href="#pills-profile1" role="tab" aria-controls="pills-profile"
                                    aria-selected="false">Details</a>
                            </li> --}}
                        </ul>
                        <div class="tab-content pt-2 pl-1" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home1" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                {{description}}
                            </div>
                            {{!-- <div class="tab-pane fade" id="pills-profile1" role="tabpanel"
                                aria-labelledby="pills-profile-tab"></div> --}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

        {{!-- Carousel Navigation --}}
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="indigo-text" aria-hidden="true"><i class="fas fa-chevron-left fa-2x"></i></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="indigo-text" aria-hidden="true"><i class="fas fa-chevron-right fa-2x"></i></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<script>
    $('.carousel-item').first().addClass('active');
    console.log($('.carousel-item').first());
</script>