<div class="container force-center">
	<div class="row">
		<div class="col-3 mt-4">
			<div class="card">
				<div class="card-body">
					<img class="card-img-top" src={{pfp}} alt="avatar image">
					<h5 class="card-title">{{username}}</h5>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Posts {{posts.length}}</li>
						<li class="list-group-item">Followers {{follower_list.length}}</li>
						<li class="list-group-item">Following {{following_list.length}}</li>
					</ul>
				</div>
			</div>

			<div class="card">
				<div class="card-body overflow-auto">
					<h5 class="card-title">Followers</h5>
					<ul class="list-group list-group-flush">
						{{#each follower_list}}
						<li class="list-group-item">{{this}}</li>
						{{/each}}
					</ul>
				</div>
			</div>

			<div class="card">
				<div class="card-body overflow-auto">
					<h5 class="card-title">Following</h5>
					<ul class="list-group list-group-flush">
						{{#each following_list}}
						<li class="list-group-item">{{this}}</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>

		{{!-- Post List --}}
		<div class="col-xl">
		
			<!-- Card -->
			{{#each posts}}
			<div class="card card-cascade wider reverse mb-3">
				<!-- Card image -->
				<div class="container my-3">
					<div class="row text-center justify-content-center">
						{{#each this.item_list}}
						<div class="col-lg-3 col-md-3 col-6">
							<a href="#" class="d-block mb-4 h-100">
								<img class="img-fluid img-thumbnail p-0" src='/public/uploads/post_restaurant/{{this.image}}'
									style="height: 256px; width: 256px;">
							</a>
						</div>
						{{/each}}
					</div>
					<div class="row text-center">
						<!-- Card content -->
						<div class="card-body card-body-cascade text-center">
							<!-- Title -->
							<a href='/post/{{this.post_uuid}}'>
								<h4 class="card-title"><strong>{{this.restaurant_name}}</strong></h4>
							</a>
							<!-- Subtitle -->
							<h6 class="font-weight-bold indigo-text py-2">Posted on {{this.date}}</h6>
							<!-- Text -->
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>