<div class="container force-center">
	<div class="row">
		<div class="col-3 mt-4">
			<div class="card">
				<div class="card-body">
					<img class="card-img-top" src={{pfp}} alt="avatar image">
					<h5 class="card-title">{{username}}</h5>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Posts {{posts.length}}</li>
						<li class="list-group-item">Followers {{follower_list.length}}</li>
						<li class="list-group-item">Following {{following_list.length}}</li>
					</ul>
				</div>
			</div>

			<div class="card">
				<div class="card-body overflow-auto">
					<h5 class="card-title">Followers</h5>
					<ul class="list-group list-group-flush">
						{{#each follower_list}}
						<li class="list-group-item">{{this}}</li>
						{{/each}}
					</ul>
				</div>
			</div>

			<div class="card">
				<div class="card-body overflow-auto">
					<h5 class="card-title">Following</h5>
					<ul class="list-group list-group-flush">
						{{#each following_list}}
						<li class="list-group-item">{{this}}</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>

		<div class="col-9 pt-4">
			<ul class="list-group list-group-flush">
				{{#each posts}}
				<li class="list-group-item">{{this.restaurant_name}}</li>
				<div class="rows m-2">
					{{#each item_list}}
					<li class="list-group-item">{{name}}</li>
					<img class="card-img-top" src=/public/uploads/post_restaurant/{{image}}>
					<li class="list-group-item">{{description}}</li>

					<li class="list-group-item">{{price}}</li>

					{{/each}}
				</div>
				{{/each}}
			</ul>
			<!-- Card -->
			<div class="card card-cascade wider reverse mb-3">
				<ul class="list-group list-group-flush">
					{{#each post_list}}
					<li class="list-group-item">{{this}}</li>
					{{/each}}
				</ul>

			</div>
		</div>
	</div>
</div>